*{margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #000;}

body{font-size: 15px; line-height: 30px; font-family: 'KoddiUDOnGothic-Regular'; position: relative;}

@font-face {
    font-family: 'KoddiUDOnGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*조선일보명조*/
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.top {position:fixed; bottom:50px; right:50px; display:none; background-color: black;color: #fff; padding: 16px; border-radius: 50%; z-index: 3;}

#main {width: 100%; height:2724px; 
	background: url(../images/main_bg.jpg) no-repeat center top;/*수정*/}


.header {width: 1320px; margin: 0 auto; padding-top: 14px; height: 40px;}
.nav {float: right;}
.nav li {float: left;}

.main_nav {
	
    margin: 0;
    padding: 0;
    counter-increment: itemcounter;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main_nav::before {
   
    position: absolute;
    top: 0;
    left: 0;
    
}

.menu {
    cursor: pointer;
    font-size: 17px;
    position: relative;
    white-space: nowrap;
    
}

.menu::before,
.menu::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.menu::before {
    content: '';
    /* show by default */
}

.menu--list {
    font-family: 'Chosunilbo_myungjo' ; font-weight: bold; font-size: 17px;
	margin: 0 15px ;
}

.menu--list::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.menu--list:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

/* 이미지 호버시 변경 css */
.main_collection {width: 1320px; margin: 0 auto; text-align: center;}
h5 {font-family: 'Chosunilbo_myungjo'; font-size: 22px;  padding: 100px 0 80px 0;}

.img_top{
    display: block;
    position: relative;
    padding-bottom: 50px;
   }
  .img_hover{
    display: block;
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  .img_top a:hover .img_hover{
          opacity: 1; /*글자가 보이도록 opacity1로 변경*/
          transition:all 1.5s;
  }

.title {font-size: 18px; padding-bottom: 20px; font-weight: bold;}
.con {font-size: 15px; padding-bottom: 80px;}


.box{width: 100%; text-align: center; }

.collection {width: 1320px; margin: 0 auto;}

.collection li:nth-child(1) {float: left; padding-left: 30px;}
.collection li:nth-child(2) {float: right; padding-right: 30px;}
.collection li:nth-child(3) {float: left; padding-left: 30px;}
.collection li:nth-child(4) {float: right; padding-right: 30px;}
.collection li a{ display: block; margin: 0 20px;}


.title2 {font-size: 18px; font-weight: bold; padding: 20px 0;}
.con2 {font-size: 15px; padding-bottom: 50px;}

.vi {text-align: center; color: #bba2cc;}

.welcome1{position: relative;}
.text {position: absolute; top: 0; left: 0; padding: 80px; text-align: left;}
.name_en {color: #fff;  font-size: 16px;}
.name_ko {color: #fff; font-size: 30px; padding: 10px 0 15px 0;}
.brand_con {color: #fff; font-size: 16px; line-height: 25px;}







.lookbook {
	overflow: hidden;
	width: 100%;
	/* display: flex;
	justify-content: space-around; */
}



.lookbook ul li {
	float: left;
	box-sizing: border-box;
	width: 32%; margin-right:2%;
	
}

.lookbook ul li img {width: 100%;}




.lookbook ul li:nth-child(3) {margin-right:0%;}

.lookbook ul li:nth-child(6) {margin-right:0%;}

.lookbook ul li:hover {opacity: 0.5; transition:all 1s;}






	
.footer {width: 100%; height: 401px; 
		background: url(../images/footer_bg.png) no-repeat center top;
		box-sizing: border-box; margin-top: 80px;}
	
	
	.footer_inner {width: 819.58px; margin: 0 auto; padding: 10% 0%;}
	
		.left {text-align: right; float: left;}
		.left li a { display: block; color: #000; font-size: 11px; padding-right: 30px;}
		.center { float: left;}
	
		
		
		.center li a {display: block; color: #000; font-size: 11px; }
		.right {text-align: left; float: left;}
	
		.center li:nth-child(2) {display: inline-block; float: left; margin-left: 120px; }
		.center li:nth-child(3) {float: left; padding-left: 20px; }
		.center li:nth-child(4) {clear: both; margin-left: 25px;}
	
		
	
		.center li:nth-child(2):hover {opacity: 0.5;}
		.center li:nth-child(3):hover {opacity: 0.5;}
	
	
		.right li a {display: block; color: #000; font-size: 11px; padding-left: 30px;}




